@model EmailTemplatesCore.ViewModels.EmailTemplateViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        Add Email template
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.Partial("_Type", Model)
            @Html.Partial("_Template", Model)
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    }
</div>